<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="javascript:;">Copyright <i class="fa fa-copyright"></i> <span>Portal Gas</span> @DateTime.Now.Year. All rights reserved</a>
            </div>
            <div class="col-md-6 text-right">
                <a href="javascript:;">Version 1.0.0</a>
            </div>
        </div>
    </div>
</footer>
