<div class="sidebar-panel offscreen-left">
    <div class="brand" style="background-color:white;">
        <div class="brand-logo">
            <img src="~/admin/images/logo-regas.png" height="25" alt="">
        </div>
        <a href="javascript:;" data-toggle="layout-small-menu">
            <i class="toggle-sidebar hidden-xs v3 fa fa-th fa-lg" style="color:Highlight"></i>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <nav role="navigation">
        <p>&nbsp;</p>
        <ul class="nav">
            <li>
                <a asp-controller="Home" asp-action="Index2">
                    <i class="fa fa-sign-in fa-lg"></i>
                    <span>&nbsp;Login</span>
                </a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Index">
                    <i class="fa fa-home fa-lg"></i>
                    <span>&nbsp;Home</span>
                </a>
            </li>
            <li>
                <a href="https://apps.pertamina.com/eproc_nusantararegas" target="_blank">
                    <i class="fa fa-desktop"></i>
                    <span>&nbsp;E-Procurement</span>
                </a>
            </li>
            <li>
                <a href="http://appnr.pertamina.com/portal/semar" target="_blank">
                    <i class="fa fa-desktop"></i>
                    <span>&nbsp;SEMAR</span>
                </a>
            </li>
            <li>
                <a href="http://10.10.10.14/login" target="_blank">
                    <i class="fa fa-navicon fa-lg"></i>
                    <span>&nbsp;SYMMIN</span>
                </a>
            </li>
            <li>
                <a href="http://10.10.10.15/" target="_blank">
                    <i class="fa fa-archive fa-lg"></i>
                    <span>&nbsp;Activo</span>
                </a>
            </li>
            <li>
                <a href="https://appnr.pertamina.com/meetingroom.nr" target="_blank">
                    <i class="fa fa-share-alt fa-lg"></i>
                    <span>&nbsp;Meeting Room</span>
                </a>
            </li>
            <li>
                <a href="https://nusantararegas.com" target="_blank">
                    <i class="fa fa-share-alt fa-lg"></i>
                    <span>&nbsp;Website NR</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-file fa-lg"></i>
                    <span>&nbsp;Pertamina</span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="https://myssc.pertamina.com/" target="_blank">
                            <div class="overflow-hidden">
                                <span>MYSSC</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://intra.pertamina.com" target="_blank">
                            <div class="overflow-hidden">
                                <span>Intra Pertamina</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://outlook.com" target="_blank">
                            <div class="overflow-hidden">
                                <span>Mail</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://intra-iam.pertamina.com" target="_blank">
                            <div class="overflow-hidden">
                                <span>I-am</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://ptmkpwa16prd01.pertamina.com/ERMS" target="_blank">
                            <div class="overflow-hidden">
                                <span>Risk Managament</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://ptmkpwab81.pertamina.com/horsekorporat/Default.aspx" target="_blank">
                            <div class="overflow-hidden">
                                <span>Horse</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://ptmkpweb12app01.pertamina.com/Peraturan/" target="_blank">
                            <div class="overflow-hidden">
                                <span>STK & SK</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://apps.pertamina.com/changepassword" target="_blank">
                            <div class="overflow-hidden">
                                <span>Update Password</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://app.poffice.pertamina.com" target="_blank">
                            <div class="overflow-hidden">
                                <span>P-Office</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://apps.pertamina.com/SMART" target="_blank">
                            <div class="overflow-hidden">
                                <span>SMART</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://personal.idaman.pertamina.com" target="_blank">
                            <div class="overflow-hidden">
                                <span>idAMan</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://dsclient.poffice.pertamina.com" target="_blank">
                            <div class="overflow-hidden">
                                <span>Pertamina-Sign</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://pertaminasign.peruri.co.id/login" target="_blank">
                            <div class="overflow-hidden">
                                <span>Digital Document</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
