@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageLevelPlugin {
    @RenderSection("PageLevelPlugin", required: false)
}

<!-- sidebar panel -->
@await Html.PartialAsync("_Sidebar")

<!-- content panel -->
<div class="main-panel">
    <!-- top header -->
    <header class="header navbar">
        <div class="brand visible-xs">
            <div class="toggle-offscreen">
                <a href="#" class="fa fa-times visible-xs" data-toggle="offscreen" data-move="ltr">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="brand-logo">
                <img src="~/admin/images/logo-regas.png" height="15" alt="">
            </div>
            <div class="toggle-chat">
                <a href="javascript:;" class="hamburger-icon v2 visible-xs" data-toggle="layout-chat-open">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
        <ul class="nav navbar-nav hidden-xs">
            <li>
                <p class="navbar-text bold">
                    Portal Nusantara Regas
                </p>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs">
        </ul>
    </header>
    <!-- /top header -->
    @RenderBody()

</div>
<!-- /content panel -->
<!-- bottom footer -->
@await Html.PartialAsync("_Footer")

@section PageLevelScripts {
    @RenderSection("PageLevelScripts", required: false)
}

@section InitPageScripts {
    @RenderSection("InitPageScripts", required: false)
}
