@using System.Collections.Generic
@using Admin.Models.User
@using Microsoft.AspNetCore.Http
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portal Gas - Login</title>
    <link href="~/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/vendor/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="~/admin/css/main.css" rel="stylesheet">
    <link href="~/admin/styles/logintest.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="login-container">
                    <div class="text-center mb-4">
                        <img src="~/admin/images/logo.png" alt="Portal Logo" class="img-fluid" style="max-height: 80px;">
                        <h4 class="mt-3">Portal Gas</h4>
                        <p class="text-muted">Enterprise Gas Operations Management</p>
                    </div>
                    <div class="login-form">
                        <form method="post" action="/Account/Login">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                    </div>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="rememberMe" name="rememberMe">
                                    <label class="custom-control-label" for="rememberMe">Remember me</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fa fa-sign-in-alt mr-2"></i>Login
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
