USE [PortalNR]
GO
/****** Object:  Table [dbo].[Gm_Line]    Script Date: 17/11/2024 02:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gm_Line](
	[LineID] [int] NOT NULL,
	[Name] [varchar](100) NULL
) ON [PRIMARY]
GO
