@using Admin.Models.GCG
@model CocCoi

@{
    ViewData["Title"] = "Code of Conduct";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>CODE OF CONDUCT</h4>
                </div>
                <div class="card-body">
                    <h5>COMPANY CODE OF CONDUCT STATEMENT</h5>
                    <p>This Code of Conduct outlines the ethical standards and professional behavior expected from all employees and stakeholders of our organization.</p>
                    
                    <div class="mt-4">
                        <h6>Declaration Statement</h6>
                        <p>I hereby declare that:</p>
                        <ol>
                            <li>I have read and understood the Code of Conduct and agree to comply with all provisions stated therein.</li>
                            <li>I will accept any sanctions for violations that I may commit (if any).</li>
                        </ol>
                    </div>

                    <div class="mt-4">
                        <h6>Reporting Violations</h6>
                        <p>I will report any violations that occur in my work unit through the company's whistleblowing system (if available).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

